@import views.addons._
@import helper._
@(entries: List[DnsEntry], accounts: List[Account])

@main("DYD") {
<div class="row">
    @if(controllers.Application.getAccount().isAdmin()){
	<div class="jumbotron col-md-9">
    <h1>DYD <small>Administration</small></h1>
	</div>
    <div class="col-md-3">
		@form(routes.DynDns.save()) {
            <input type="hidden" name="account.id" id="account_id" value="@controllers.Application.getAccount().id" />                       
            @inputText(
                entryForm("name"), 
                '_label -> "CNAME", 
                'class -> "form-control", 
                'placeholder -> "CNAME.domain.com"
            )
            @select(
                entryForm("subDomain.id"), 
                options(SubDomain.optionsFor(controllers.Application.getAccount())), 
                '_label -> "Domain" , 
                'class -> "form-control"
            )      
            <input type="submit" class="btn btn-primary" value="Create" />
            <a href="@routes.DynDns.hosts()" target="_hosts" class="btn btn-default">show Hosts</a>
        }    
    </div>    
    <div class="span12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>API Key</th>
                    <th>updated IP<br />actual IP</th>
                    <th>Domain<br />SubDomain</th>
                    <th>last Update</th>				
                    <th>Account</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(entry <- entries) {
                <tr>
                    <td class="word-break">@entry</td>
                    <td>
                        <form method="post" action="@routes.AdminDynDNS.resetApiKey(entry.id)">
                            @entry.apiKey
                            <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-repeat"></span></button></form>
                        </form>
                    </td>
                    <td>@entry.updatedIp<br />@entry.actualIp</td>
                    <td>@entry.domain<br /><em>@entry.subDomain</em></td>	
                    <td>@entry.updated.since()</td>			
                    <td>
                    @form(routes.AdminDynDNS.update(entry.id)) {
                    	<input type="hidden" name="name" id="name" value="@entry.name" />
                    	<input type="hidden" name="domain.id" id="domain_id" value="@entry.domain.id" />
                    	<input type="hidden" name="subDomain.id" id="subDomain_id" value="@entry.subDomain.id" />
                        <select class="form-control" name="account.id" id="account_id">
                            @for(account <- accounts) {
                            <option  @if(account.id == entry.account.id){ selected="selected"} value="@account.id">@account.username</option>
                            }
                        </select>
                        <button class="btn btn-primary">Update</button>
                	} 
                    </td>
                    <td>
                    @form(routes.AdminDynDNS.delete(entry.id)) {
                    	<button class="btn btn-danger" type="submit">Delete</button>
                    }
                    </td>
                </tr>
                }
            </tbody> 
        </table>
    </div>
    }
</div>
}
