# Domains

domains:

    - !!models.Domain
        id:          1
        name:        example.com
        hostmaster:  hostmaster@example.com
        ip:          192.168.168.1
        code:        0202    
        

#DNS Entries

dnsEntries:

    - !!models.DnsEntry
        updatedIp: 192.168.168.2          
        name:      test1.dyn.example.com
        domain:    !!models.Domain
                      id:    1
    - !!models.DnsEntry
        updatedIp: 192.168.168.3         
        name:      test2.dyn.example.com
        domain:    !!models.Domain
                      id:    1                      
 