@import views.addons._
@import helper._
@(domain: Domain)

@main("DYD - Domains") {
<div class="row">
    @if(controllers.Application.getAccount().isAdmin()){
	<div class="jumbotron col-md-12">
		<h1><a href="@routes.AdminDomains.index()">Domains</a> - @domain.name</h1>
	</div>  
    <div class="span12">
    	<dl class="dl-horizontal">
  			<dt>Name</dt>
  			<dd>@domain.name</dd>
   			<dt>Hostmaster</dt>
  			<dd>@domain.getHostmaster()</dd> 		
   			<dt>Ip</dt>
  			<dd>
       		@if(domain.ip != null) {
       			<a href="@routes.AdminIps.show(domain.name)">@domain.ip</a>
       		} else {
       			-
       		}  			
  			</dd>  
   			<dt>Nameserver</dt>
  			<dd>
  			@for(nameserver <- domain.getNameservers()) {
  			@nameserver<br />}
  			</dd> 
  		</dl>  
	  	@if(domain.getResourceRecords().size() > 0) {
	  	<h2>Resource Records</h2>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Value</th>
				<th>TTL</th>
				<th>Pref</th>
			</tr>
			@for(rr <- domain.getResourceRecords()) {
			<tr>
				<td>@rr.getName()</td>
				<td>@rr.getType()</td>
				<td>
					@if(Ip.valid(rr.getValue())) {
					<a href="@routes.AdminIps.show(rr.getValue())">@rr.getValue()</a>
					} else {
					@rr.getValue()
					}
				</td>
				<td>@rr.getTtl()</td>
				<td>@rr.getPref()</td>
			</tr>
			}
		</table>
		}
    </div>
    }
</div>
}