@import views.addons._
@import helper._
@(domain: Domain, record: ResourceRecord, resourceForm: Form[ResourceRecord])

@main("DYD - Domains") {
<div class="row">
    @if(controllers.Application.getAccount().isAdmin()){
	<div class="jumbotron col-md-12">
		<h1><a href="@routes.AdminDomains.index()">Domains</a> - @domain.name</h1>
	</div>  
    <div class="span12">
    	<dl class="dl-horizontal">
  			<dt>Name</dt>
  			<dd>@domain.name</dd>
   			<dt>Hostmaster</dt>
  			<dd>@domain.getHostmaster()</dd> 		
   			<dt>Ip</dt>
  			<dd>
       		@if(domain.ip != null) {
       			<a href="@routes.AdminIps.show(domain.ip)">@domain.ip</a>
       		} else {
       			-
       		}  			
  			</dd>  
   			<dt>Nameserver</dt>
  			<dd>
  			@for(nameserver <- domain.getNameservers()) {
  			@nameserver<br />}
  			</dd> 
  		</dl>  
	  	@if(domain.getResourceRecords().size() > 0) {
	  	<h2>Resource Records</h2>
		<table class="table resourcerecords">
			@form(routes.AdminResourceRecords.save(domain.name)) {
			<tr>
				<th>
				@inputText(
	                resourceForm("name"), 
	                '_label -> "Name",
	                '_showConstraints -> false,
	                'value-> record.name
            		)					
				</th>
				<th>
					<dl class=" " id="type_field">
						<dt><label for="type">Type</label></dt>
					    <dd>
						<select id="type" name="type">
							@for(t <- ResourceRecord.options().keySet()) {
							<option value="@t" @if(t.equals(record.getType())){ selected="selected" }>@t</option>
							}
						</select>
						</dd>
					</dl>		
				</th>
				<th>
				@inputText(
	                resourceForm("value"), 
	                '_label -> "Value",
	                '_showConstraints -> false,
	                'size -> 25,
	                'value-> record.getValue()
            		)				
				</th>
				<th>
				@inputText(
	                resourceForm("ttl"), 
	                '_label -> "TTL",
	                '_showConstraints -> false,
	                'size -> 4,
	                'value-> record.getTtl()
            		)					
				</th>
				<th>
				@inputText(
	                resourceForm("pref"), 
	                '_label -> "Pref",
	                '_showConstraints -> false,
	                'size -> 4,
	                'value-> record.getPref()
            		)				
				</th>
				<th>
					&nbsp;<br />
					<input type="hidden" name="domain.id" id="domain.id" value="@domain.id" />
					<input type="submit" class="btn btn-primary" value="Save" />
					<a href="@routes.AdminDomains.show(domain.name)" class="btn btn-default">Cancel</a>
				</th>
			</tr>
			}
			@for(rr <- domain.getResourceRecords()) {
			@if(rr.id != record.id) {
			<tr>
				<td>@rr.getName()</td>
				<td>@rr.getType()</td>
				<td>
					@if(Ip.valid(rr.getValue())) {
					<a href="@routes.AdminIps.show(rr.getValue())">@rr.getValue()</a>
					} else {
					@rr.getValue()
					}
				</td>
				<td>@rr.getTtl()</td>
				<td>@rr.getPref()</td>
				<td>
				<div class="btn-group">
				@form(routes.AdminResourceRecords.delete(domain.name, rr.id)) {
    	    				<button onClick="if (!confirm('Are you sure, you want to delete this?\n')) return false;" type="submit" class="btn btn-danger">Delete</button>					
				}
				<a href="@routes.AdminResourceRecords.edit(domain.name, rr.id)" class="btn btn-primary">
					Edit
				</a>
				</div>
				</td>				
			</tr>			
			}
			}
		</table>
		}
    </div>
    }
</div>
}