@import views.addons._
@import helper._
@(entries: List[DnsEntry], accounts: List[Account])

@main("DYD") {
<div class="row">
    @if(controllers.Application.getAccount().isAdmin()){
	
	<div class="jumbotron col-md-9">
    	<h1>DYD <small>Administration</small></h1>
	</div>
    
    <div class="col-md-3">
    	<h3>start Jobs</h3>
		@form(routes.AdminDynDNS.startJob("Maintenance")) {
			<input type="submit" class="btn btn-primary btn-block" value="Maintenance" />
        }   
		@form(routes.AdminDynDNS.startJob("DnsUpdate")) {
			<input type="submit" class="btn btn-primary btn-block" value="DnsUpdate" />
        }            
    </div>   
    
    <div class="span12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>API Key</th>
                    <th>updated IP<br />actual IP</th>
                    <th>Domain<br />SubDomain</th>
                    <th>last Update</th>				
                    <th>Account</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(entry <- entries) {
                <tr>
                    <td class="word-break">@entry</td>
                    <td>@entry.apiKey</td>
                    <td><a href="@routes.AdminIps.show(entry.updatedIp)">@entry.updatedIp</a><br /><a href="@routes.AdminIps.show(entry.actualIp)">@entry.actualIp</a></td>
                    <td>@entry.domain<br /><em>@entry.subDomain</em></td>	
                    <td>@entry.updated.since()</td>			
                    <td>
                    @form(routes.AdminDynDNS.update(entry.id)) {
                    	<input type="hidden" name="name" id="name" value="@entry.name" />
                    	<input type="hidden" name="domain.id" id="domain_id" value="@entry.domain.id" />
                    	<input type="hidden" name="subDomain.id" id="subDomain_id" value="@entry.subDomain.id" />
                        <select class="form-control" name="account.id" id="account_id">
                            @for(account <- accounts) {
                            <option  @if(account.id == entry.account.id){ selected="selected"} value="@account.id">@account.username</option>
                            }
                        </select>
                        <button class="btn btn-primary">Update</button>
                	} 
                    </td>
                    <td>
                    @form(routes.AdminDynDNS.delete(entry.id)) {
                    	<button class="btn btn-danger" type="submit">Delete</button>
                    }
					@form(routes.AdminDynDNS.resetApiKey(entry.id)) {
                   		<button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-repeat"></span></button>
              		}                
                    </td>
                </tr>
                }
            </tbody> 
        </table>
    </div>
    }
</div>
}
